#Bienvenido{
    text-align: justify;
}

html{
    background-color:rgb(174, 1, 1) ;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 20px;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    font-style:italic;
}
